.blog-loop-wrapper {
  padding-top: 50px;
  padding-right: 6vw;
  padding-bottom: 50px;
  padding-left: 6vw;
}

.blog-loop-columns {
  gap: 60px;
}

.blog-loop-column {
  flex-basis: 50%;
}

.blog-loop-title {
  font-size: 40px;
}

.blog-loop-button {
  border-radius: 0.33rem;
  background-color: #532f6b;
  padding: 0.6rem 1rem;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.wp-block-button__link{
    border-radius:0.33rem !important;
    background-color:#532f6b !important;
    padding:0.6rem 1rem !important;
    font-size:14px !important;
    color:#fff !important;"
}

.wp-block-button__link:hover {
    background-color: #0040d1 !important;
}